.header {
  display: flex;
  justify-content: center;
  margin: 14px 14px 0 17px;
  position: relative;
}
.logo {
  z-index: 2;
}
.logo img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
}
.title {
  width: 70%;
  margin: 7px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-name {
  margin: 2px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.header-position {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #808080;
}
.header-text {
  position: absolute;
  z-index: 0;
  bottom: 16px;
  left: 120px;
  width: 85%;
  height: 54px;
  border: 1px solid #dadada;
  background: #fffbc8;
  border-radius: 5px;
  box-sizing: border-box;
}
.header-text p {
  text-align: start;
  margin: 5px 0 0 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .header-text {
    left: 95px;
  }
}
@media (max-width: 576px) {
  .header-text {
    width: 87%;
    left: 75px;
    bottom: 0px;
    height: 70px;
  }
  .header-text p {
    margin: 5px 5px 0 60px;
  }
}
